@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* root คือ ที่เก็บตัวแปลพื้นฐานของสีต่าง ๆ ที่เราใช้ในโปรเจค */
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-black: rgba(19, 19, 19, 0.906);

  --color-bg-blog-contact: purple;
  --color-bg-card-hover: rgb(222, 139, 252);
  --color-bg-card: blueviolet;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  /* ทำให้เลื่อนเมาล์ขึ้นลงสมูดขึ้น */
}

/* ::-webkit-scrollbar — the entire scrollbar. */
::-webkit-scrollbar {
  /* ไม่ต้องการแถบเลื่อน */
  display: none;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  /* line-height: ระยะห่างของช่องว่างบรรทัด */
  line-height: 1.7;
  /* background-image: url(../src/assets/bg-texture4.jpg); */
  background-color: var(--color-bg-variant);
}

/* =================== GENERAL STYLES ============ */

.container {
  /* กำหนดที่อุปกรณ์ต่างตรงนี้ ความกว้างจะเปลี่ยนไปตามอุปกรณ์ */
  width: var(--container-width-lg);
  margin: 0 auto; /* เราจะให้ระยะขอบเป็นศูนย์อัตโนมัติ ให้วางตำแหน่งตรงกลางแนวนอน*/
}

้h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}
่ 
/* almost all the component are going to be wrapped in a section in a section*/
section {
  margin-top: 8rem;
  /* height: 100vh; */
  /* กำหนดความสูงพื้นที่ section ทั้งหมด height: 100vh; ให้มีความสูงเท่ากับหน้าจอ*/
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-white);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn,
.btn-header {
  width: max-content; /*จะมีความกว้างของเนื้อหาสูงสุด ดังนั้นมันจะพอดีกับเนื้อหา*/
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem; /*บนล่าง ซ้ายขวา*/
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

/*.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;*/ /*transparent เท่ากับสีโปร่งใส*/
/*}*/

.btn-header:link,
.btn-header:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;

  border-radius: 30px;
  transition: all 0.2s;
}

.btn:hover,
.btn-header:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  color: black;
}

.btn:active,
.btn-header:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* .btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
} */
.btn-white {
  background-color: #fff;
  color: #777;
}

img {
  display: block;
  width: 100%;
  object-fit: cover; /*object-fit = ทำให้มันครอบพอดีกับวัตถุ*/
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-with: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-with: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-top: 2rem;
  }
}
